sphinx>=3.0,<4
better-apidoc
six    # better-apidoc requires it but it doesn't list it (bug)
sphinx-autodoc-typehints
sphinx-autorun
guzzle_sphinx_theme
sphinxcontrib_trio
Jinja2 < 3.1

# for running the code in the examples
ipython
numpy
